Import Library :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

DATA_PATH = 'Life Expectancy Data.csv'

df = pd.read_csv(DATA_PATH, sep = ';', engine='python', encoding='latin1', na_values=['NA', '?'])

print("Jumlah baris dan kolom:", df.shape)
df.head()

Jumlah baris dan kolom: (1000, 22)

,ï»¿Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65,263.0,62,"0,01","71,27962362",65.0,1154,...,6,"8,16",65,"0,1","584,25921",33736494.0,"17,2","17,3","0,479","10,1"
1,Afghanistan,2014,Developing,"59,9",271.0,64,"0,01","73,52358168",62.0,492,...,58,"8,18",62,"0,1","612,696514",327582.0,"17,5","17,5","0,476",10
2,Afghanistan,2013,Developing,"59,9",268.0,66,"0,01","73,21924272",64.0,430,...,62,"8,13",64,"0,1","631,744976",31731688.0,"17,7","17,7","0,47","9,9"
3,Afghanistan,2012,Developing,"59,5",272.0,69,"0,01","78,1842153",67.0,2787,...,67,"8,52",67,"0,1","669,959",3696958.0,"17,9",18,"0,463","9,8"
4,Afghanistan,2011,Developing,"59,2",275.0,71,"0,01","7,097108703",68.0,3013,...,68,"7,87",68,"0,1","63,537231",2978599.0,"18,2","18,2","0,454","9,5"

In [2]:
# Cek missing value
print("Missing value tiap kolom:")
print(df.isnull().sum())

# Drop NA (cara termudah)
df_clean = df.dropna()
print("\nJumlah data setelah drop NA:", df_clean.shape)
print(df_clean.columns)

Missing value tiap kolom:
ï»¿Country                           0
Year                                 0
Status                               0
Life expectancy                      2
Adult Mortality                      2
infant deaths                        0
Alcohol                             61
percentage expenditure               0
Hepatitis B                        178
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                                0
Total expenditure                   76
Diphtheria                           0
 HIV/AIDS                            0
GDP                                149
Population                         230
 thinness  1-19 years                0
 thinness 5-9 years                  0
Income composition of resources     65
Schooling                           65
dtype: int64

Jumlah data setelah drop NA: (571, 22)
Index(['ï»¿Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [3]:
# Hapus baris kosong
df_clean = df.dropna()

# Konversi semua kolom kategorikal (string) menjadi numerik
df_clean = pd.get_dummies(df_clean, drop_first=True)

# Temukan kolom target
target_col = [c for c in df_clean.columns if 'life expectancy ' in c.lower()][0]

# Pisahkan X dan y
X = df_clean.drop(target_col, axis=1)
y = df_clean[target_col]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Jumlah data train:", X_train.shape)
print("Jumlah data test :", X_test.shape)

Jumlah data train: (456, 3336)
Jumlah data test : (115, 3336)

In [4]:
model = DecisionTreeRegressor(
    max_depth=10,          # Anda bisa tuning
    min_samples_split=5,
    random_state=42
)

model.fit(X_train, y_train)
print("Model berhasil dilatih!")

Model berhasil dilatih!

In [5]:
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("\n=== Evaluation Metrics ===")
print("MAE  :", mae)
print("MSE  :", mse)
print("RMSE :", rmse)
print("R²   :", r2)

=== Evaluation Metrics ===
MAE  : 0.0
MSE  : 0.0
RMSE : 0.0
R²   : 1.0